div#main footer {
    background-color: #3c3c3c;
    grid-area: 10/1/11/5;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;

    span {
        font-size: 0.7rem;

        a {
            color: #ffffff;
        }
    }
}