.icon-red {
    color: #dc3545 !important;
}

.icon-yellow {
    color: #FFD54F !important;
}

.icon-white {
    color: white !important;
}

.icon-blue {
    color: #42A5F5 !important;
}

.icon-green {
    color: #4CAF50 !important;
}