.menu-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.menu {
    position: absolute;
    border: 1px solid #444444;
    border-radius: 5px;
    background-color: #333333;
    box-shadow: 0 0 4px black;

    .menuitem {
        padding: .5rem 1rem;
        cursor: pointer;

        &:hover {
            background-color: #444444;
        }

        &:not(:last-child) {
            border-bottom: 1px solid #444444;
        }
    }
}