.alternate-name {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 100%;
    gap: 0px 0px;
    margin-bottom: .5rem;

    div.radio {
        grid-area: 1 / 1 / 2 / 2;
    }

    div.input {
        grid-area: 1 / 2 / 2 / 3;
        margin-top: 0;
        margin-bottom: 0;

        label input {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}
