.certificate-list {
    display: flex;
    flex-direction: column;

    .certificate {
        padding: 0.5rem;
        display: flex;
        user-select: none;
        cursor: pointer;

        .certificate-info {
            margin-left: 0.5rem;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            flex-grow: 1;

            span.subtitle {
                opacity: 0.5;
            }
        }

        .certificate-invalid {
            color: #dc3545;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &.selected {
            background-color: rgba(0, 128, 255, 0.25);
        }

        img {
            max-height: 45px;
        }
    }

    .certificate-list-footer {
        display: flex;
        justify-content: center;
        margin-top: 0.5rem;
    }
}